.BenefitsContainer {
	background-color: var(--color-white);

	display: flex;
	flex-direction: column;

	padding: 5em;

	border-radius: 5em;

	transition: .5s all;
}

.BenefitsContainer ul li,
.BenefitsContainer ul li svg,
.BenefitsContainer h1 {
	color: var(--color-dark);

}

.BenefitsContainer h1 {
	text-align: center;

	margin-bottom: 2em;
}

.BenefitsContainer ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.BenefitsContainer ul li { 
	list-style: none;

	font-size: 1.5em;

	background-color: rgba(0,0,0,.1);

	font-size: 1em;

	height: 4em;

	margin: .5em;
	padding: 1em 2em;

	display: flex;
	justify-content: center;
	flex-direction: column;

	border-radius: .5em;

	font-weight: 700;

	transition: .5s all;
}
.BenefitsContainer ul li div {
	transition: .5s all;
}
.BenefitsContainer ul li div:hover {
	margin-bottom: 1em;
}

.BenefitsContainer ul li svg {
	font-size: 2em;

	border-radius: .5em;
}