.ContactUsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2em;

	color: var(--color-white);
}

.ContactUsContainer h1 {
	margin-bottom: 1.5em;
}

.ContactUsContainer span,
.ContactUsContainer a {
	font-size: 1.5em;

	color: var(--color-white);

	margin-top: 1em;
}
